
<div class="row">

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Currency converter</h3>
            </div>
            <script type="application/javascript">
                $(document).ready(function() {
                    $('#submit').click(function(e) {
                        e.preventDefault();
                        $.ajax({
                            type: "POST",
                            url: "/post",
                            data: $("#currency-form").serialize(),
                            cache: false,
                            beforeSend: function() {
                                $('#response').val("Loading... please wait.");
                            },
                            success: function(data)
                            {
                                $('#response').val(data['response']);
                            }
                        });
                    });
                })
            </script>
            <div class="panel-body">
                <form id="currency-form" method="POST" class="form">
                    <label for="amount">PLN</label>
                    <input type="text" class="form-control" name="amount" id="amount" />
                    <br />
                    <input id="submit" type="submit" value="Convert">
                </form>
                <br />
                <label for="response">Response</label>
                <input type="text" class="form-control" name="response" id="response" disabled/>

            </div>
        </div>
    </div>


</div>
